/.metadata/
/ciaqualquer-repo/alf_data_dev/
/ciaqualquer-repo/target/
/ciaqualquer-share/target/
/ciaqualquer-repo/.settings/
/ciaqualquer-share/.settings/
/ciaqualquer-repo/.classpath
/ciaqualquer-share/.classpath
/ciaqualquer-repo/.project
/ciaqualquer-share/.project
/ciaqualquer-repo/.gitignore
/ciaqualquer-share/.gitignore
