.tutorial-notificacao {
/* 	border: 1px #0000ff solid; */
/* 	background: #34d534; */
/* 	text-align: center; */
/* 	color: white; */
/* 	width: 10px; */

	padding: 10px;
	color: orange;
	font-weight: bold;
}